.line {
    border-left: 1px solid #BDBDBD;
    height: 3px;
    margin: 1vh 2vw 1vh 1vw;
}

.dropping
{
  border-style: dashed;
  border-color: #03A9F4;
}
.outlinebtn
{
  color: #03A9F4;
  border-radius: 30px;
  height: 4vh;
  padding-top: 0;
}

/*custom check box */
.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: #20C2E0;
}
.label-cbx input:checked + .checkbox svg path {
  fill: #20C2E0;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: #20C2E0;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

.invisible,.invisible1 {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
/*check box end */

.img-fluid{
  height: 250px !important;
}

input[type="text"]:disabled{background-color:#fff !important;}


#wrapper {
    width: 73vw; 
    overflow-x: scroll;
    white-space:no-wrap;
    border-radius: 10px;
}
.table {
    display:table;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
}
.box {
    width: 200px; 
}


/*
 *  STYLE 1
 */

#wrapper::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 12px;
  background-color: #F5F5F5;
}

#wrapper::-webkit-scrollbar
{
  height: 8px;
  background-color: #F5F5F5;
}

#wrapper::-webkit-scrollbar-thumb
{
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #03A9F4;
}


/*custom **/

.image-holder {
  position: relative;
  user-select: none;
  cursor: move; }


  .mask, .image-holder {
    transition: opacity 0.2s; }
 .image-holder:hover .mask, .image-holder:hover .img-border {
    opacity: 0.8; }
 

.mask {
  position: absolute;
  opacity: 0.8;
  background-color: #84a0b5;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000s' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); }

.mask-1 {
  left: 0;
  top: 0; }

.mask-2 {
  right: 0; }

.mask-3 {
  top: 0; }

.mask-4 {
  bottom: 0; }

.image-holder img {
    max-width: 100%; }

 .img-border {
  position: absolute; }

.tile {
  width: calc(25% - 13px - 4px);
  margin-right: 13px;
  display: inline-block; }
.tile:nth-child(4n+4) {
    margin-right: 0; }

#images {
  display: block;
  overflow: auto;
  padding: 0 0 13px 13px; }